{% include "security/_messages.html" %}

<!DOCTYPE html>
<html>
<head>
	<title>Add a Regional Supervisor</title>
</head>
<body>

	<h1>Add a Regional Supervisor</h1>

	<form action = '/addRegional' method = 'POST'>
		<p>First Name<br> <input type="text" name="first_name" required></p>
		<p>Last Name<br> <input type="text" name="last_name" required></p>
		<p>Email<br> <input type="email" name="email" required></p>
		<p>Phone Number<br><span style="font-size: 10px; color: grey;">Format: XXXXXXXXXX</span><br><input type="tel" pattern="^\d{10}$" name="phone_number" required></p>
		<p>Region<br><input type="number" name="region" required></p>
		<p><input type="submit" value="Submit"></p>
	</form>

	<p><a href='/'>Home</a></p>
</body>
</html>