{% extends "base.html" %}
{% block title %}
StateLess! | Regional Overview
{% endblock %}
{% block content %}
<body>
<div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div class="sidebar-nav__upper">
                <li class="profile_pic banner__header_text text-center">
                     <span>
                    <p>Hello, {{current_user.first_name}}</p>
                    </span>
                </li>
            </div>
            <ul class="sidebar-nav">
                {% if current_user.roles[0] != 'teamlead' %}
                <li>
                    <a href="/"><span class="fa fa-tachometer light-blue" aria-hidden="true"></span>&nbsp; Dashboard</a>
                </li>
                {% endif %}
                {% if current_user.roles[0] == 'teamlead' %}
                <li>
                <a href="/teamconfirmation"><span class="fa fa-map-marker light-blue" aria-hidden="true"></span>&nbsp; Confirm Team</a>
                </li>

                {% elif current_user.roles[0] == 'state' %}
                <li class="__active">
                <a href="/regions"><span class="fa fa-map-marker light-blue" aria-hidden="true"></span>&nbsp; Regions</a>
                </li>

                {% elif current_user.roles[0] == 'regional' %}
                 <li>
                <a href="/teams"><span class="fa fa-users light-blue" aria-hidden="true"></span>&nbsp; Teams</a>
                </li>
                {% endif %}

                {% if current_user.roles[0] == 'teamlead' %}
                    <li>
                    <a href="/addTeamMember"><span class="fa fa-plus light-blue" aria-hidden="true"></span>&nbsp; Add Team Member</a>
                    </li>
                {% endif %}
                <li>
                    <a href="/alerts"><span class="fa fa-exclamation-circle light-blue" aria-hidden="true"></span>&nbsp; Alerts</a>
                </li>
                <li>
                    <p><a href="/logout"><span class="fa fa-sign-out light-blue" aria-hidden="true"></span>&nbsp; Logout</a></p>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    	<div class='row underline__header'>
                    		<div class='col-xs-2'>
                    		<span><a href="#menu-toggle" id="menu-toggle"><span class="hvr-shrink fa fa-bars fa-3x amber-red" aria-hidden="true"></span></a></span>
                    		</div>
                    		<div class='col-xs-8 col-xs-offset-2'>
	                    	<span class="__header pull-right">StateLess</span>
                    		</div>
                    	</div>
                    	<div class="row">
                            {% for x in regional_leaders %}
                    		<div class="col-md-4">
                    			<div class="login__box">
								  <div class="__container">
								  	<span class="light_blue_box"><h4>Region {{ x.region }}</b></h4> </span>
								  	<hr>
									<span class="card__box">
								    	<p>{{ x.first_name }} {{ x.last_name }}</p>
                                        <p>{{ x.email }}</p>
                                        <p>{{ x.phone_number }}</p>
								    </span> 
								  </div>
                                  <span class="card__footer">
                                        <a href="/regions/{{x.region}}" data-toggle="modal" data-target="#addTeamlead">
                                            <span class="fa fa-plus-circle amber_red"></span>
                                            <span class="">View Region Details</span>
                                        </a>
                                    </span>
								</div>
                    		</div>
                            {% endfor %}
                    	</div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}