{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}

{% extends "base.html" %}
{% block title %}
Welcome to StateLess! | {{ title }}
{% endblock %}
{% block content %}
<body id="bg">
{% from "security/_macros.html" import render_field_with_errors, render_field %}
<div class='container'>
	<div class='row'>
		<div class="col-xs-12 col-md-6 col-md-offset-3">
			<div class="homepage__banner">
				<span class="dark_blue">Welcome to </span><span class="amber_red">StateLess!</span>
				<h1 class="lead">Change your password</h1>
			</div>
			<div class='login__box'>
			<form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
			  {{ change_password_form.hidden_tag() }}
			  <div class="form-group text-muted">
			  	<label for="{{change_password_form.password.id}}">{{change_password_form.password.label}}</label>
			  	{{render_field(change_password_form.password, class="form-control", placeholder="Password")}}
			  </div>
			  <div class="form-inline text-center">
			  <div class="form-group text-muted">
			  	<label for="{{change_password_form.new_password.id}}">{{change_password_form.new_password.label}}
			  	{{render_field(change_password_form.new_password, class="form-control", placeholder="New Password")}}
			  </div>
			  <div class="form-group text-muted">
			  	<label for="{{change_password_form.new_password_confirm.id}}">{{change_password_form.new_password_confirm.label}}
			  	{{render_field(change_password_form.new_password_confirm, class="form-control", placeholder="New Password")}}
			  </div>
			  </div>
			  <div class="form-group">
			  	{{ render_field(change_password_form.submit, class="btn light_blue btn-sm btn-block") }}
			  </div>
			</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}